.DS_Store
__pycache__/
*.py[cod]

# Large local analysis products
00_log/
03_reads_raw/
04_reads_qc/
05_kmers/
06_hifiasm/
07_assemblies/
08_stats/
09_dotplots/
10_scaffolding/
11_contamination/
12_telomere_centromere/
13_repeats/
14_genes/
15_release/

# Common genome assembly intermediates
*.bam
*.bai
*.cram
*.crai
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.fa.fai
*.gfa
*.hic
*.meryl/
*.jf
*.delta
*.filter
*.coords
*.tiling
*.ps
*.pdf
